* text=auto

# Unity files
Assets/**/*.anim -text merge=unityyamlmerge diff
Assets/**/*.asset -text merge=unityyamlmerge diff
Assets/**/*.brush -text merge=unityyamlmerge diff
Assets/**/*.controller -text merge=unityyamlmerge diff
Assets/**/*.flare -text merge=unityyamlmerge diff
Assets/**/*.fontsettings -text merge=unityyamlmerge diff
Assets/**/*.giparams -text merge=unityyamlmerge diff
Assets/**/*.guiskin -text merge=unityyamlmerge diff
Assets/**/*.mask -text merge=unityyamlmerge diff
Assets/**/*.mat -text merge=unityyamlmerge diff
Assets/**/*.meta -text merge=unityyamlmerge diff
Assets/**/*.mixer -text merge=unityyamlmerge diff
Assets/**/*.overrideController -text merge=unityyamlmerge diff
Assets/**/*.physicMaterial -text merge=unityyamlmerge diff
Assets/**/*.physicsMaterial2D -text merge=unityyamlmerge diff
Assets/**/*.playable -text merge=unityyamlmerge diff
Assets/**/*.prefab -text merge=unityyamlmerge diff
Assets/**/*.renderTexture -text merge=unityyamlmerge diff
Assets/**/*.shadervariants -text merge=unityyamlmerge diff
Assets/**/*.spriteatlas -text merge=unityyamlmerge diff
Assets/**/*.terrainlayer -text merge=unityyamlmerge diff
Assets/**/*.unity -text merge=unityyamlmerge diff

# Image formats
Assets/**/*.bmp filter=lfs diff=lfs merge=lfs -text
Assets/**/*.dds filter=lfs diff=lfs merge=lfs -text
Assets/**/*.exr filter=lfs diff=lfs merge=lfs -text
Assets/**/*.gif filter=lfs diff=lfs merge=lfs -text
Assets/**/*.hdr filter=lfs diff=lfs merge=lfs -text
Assets/**/*.iff filter=lfs diff=lfs merge=lfs -text
Assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
Assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/**/*.pict filter=lfs diff=lfs merge=lfs -text
Assets/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/**/*.psd filter=lfs diff=lfs merge=lfs -text
Assets/**/*.tga filter=lfs diff=lfs merge=lfs -text
Assets/**/*.tif filter=lfs diff=lfs merge=lfs -text
Assets/**/*.tiff filter=lfs diff=lfs merge=lfs -text
Assets/**/*.xcf filter=lfs diff=lfs merge=lfs -text
Assets/**/*.afdesign filter=lfs diff=lfs merge=lfs -text

# Audio formats
Assets/**/*.aif filter=lfs diff=lfs merge=lfs -text
Assets/**/*.aiff filter=lfs diff=lfs merge=lfs -text
Assets/**/*.it filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mod filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/**/*.ogg filter=lfs diff=lfs merge=lfs -text
Assets/**/*.s3m filter=lfs diff=lfs merge=lfs -text
Assets/**/*.wav filter=lfs diff=lfs merge=lfs -text
Assets/**/*.xm filter=lfs diff=lfs merge=lfs -text

# Video formats
Assets/**/*.asf filter=lfs diff=lfs merge=lfs -text
Assets/**/*.avi filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mov filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mpeg filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mpg filter=lfs diff=lfs merge=lfs -text

# 3D formats
Assets/**/*.3dm filter=lfs diff=lfs merge=lfs -text
Assets/**/*.3ds filter=lfs diff=lfs merge=lfs -text
Assets/**/*.abc filter=lfs diff=lfs merge=lfs -text
Assets/**/*.blend filter=lfs diff=lfs merge=lfs -text
Assets/**/*.c4d filter=lfs diff=lfs merge=lfs -text
Assets/**/*.collada filter=lfs diff=lfs merge=lfs -text
Assets/**/*.dae filter=lfs diff=lfs merge=lfs -text
Assets/**/*.dfx filter=lfs diff=lfs merge=lfs -text
Assets/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/**/*.jas filter=lfs diff=lfs merge=lfs -text
Assets/**/*.lwo filter=lfs diff=lfs merge=lfs -text
Assets/**/*.lwo2 filter=lfs diff=lfs merge=lfs -text
Assets/**/*.lws filter=lfs diff=lfs merge=lfs -text
Assets/**/*.lxo filter=lfs diff=lfs merge=lfs -text
Assets/**/*.ma filter=lfs diff=lfs merge=lfs -text
Assets/**/*.max filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mb filter=lfs diff=lfs merge=lfs -text
Assets/**/*.obj filter=lfs diff=lfs merge=lfs -text
Assets/**/*.ply filter=lfs diff=lfs merge=lfs -text
Assets/**/*.skp filter=lfs diff=lfs merge=lfs -text
Assets/**/*.stl filter=lfs diff=lfs merge=lfs -text
Assets/**/*.ztl filter=lfs diff=lfs merge=lfs -text

# Fonts
Assets/**/*.otf filter=lfs diff=lfs merge=lfs -text
Assets/**/*.ttf filter=lfs diff=lfs merge=lfs -text

# Build
Assets/**/*.dll filter=lfs diff=lfs merge=lfs -text
Assets/**/*.mdb filter=lfs diff=lfs merge=lfs -text
Assets/**/*.pdb filter=lfs diff=lfs merge=lfs -text

# Packaging
Assets/**/*.7z filter=lfs diff=lfs merge=lfs -text
Assets/**/*.gz filter=lfs diff=lfs merge=lfs -text
Assets/**/*.rar filter=lfs diff=lfs merge=lfs -text
Assets/**/*.tar filter=lfs diff=lfs merge=lfs -text
Assets/**/*.zip filter=lfs diff=lfs merge=lfs -text
